
{{#each plants as |plant|}}
  {{log plant}}
  <section data-id="{{plant.id}}">
    <h6>Plant Name:</h6>
    <h3>
      {{plant.name}}
    </h3>
    <h6>Location:</h6>
    <p>
      {{plant.location}}
    </p>
    <h6>Plant Type:</h6>
    <p>
      {{plant.plant_type}}
    </p>
    {{#if plant.editable}}
      <button data-id="{{plant.id}}" class="btn btn-danger">Remove</button>
      <form class="plants-update">
        <input type="number" readonly class="form-control-plaintext" name="plant[id]" value="{{plant.id}}">
        <input type="text" name="plant[name]" placeholder="Edit Plant Name">
        <input type="text" name="plant[location]" placeholder="Indoor/Outdoor">
        <input type="text" name="plant[plant_type]" placeholder="Decorative/Edible">
        <button type="submit" data-id="{{plant.id}}" class="btn btn-update">Update</button>
      </form>
    {{/if}}
    <hr>
  </section>
{{/each}}
